* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

:root,
    :root.default {
        --primary-color: #FF8E3D;
        --secondary-color: #181818;
        --tertiary-color: #212121;
        --bg-color: #181818;
        --secondary-bg-color: #3D3D3D;
        --tertiary-bg-color: #494949;
        --highlight-color: #4096FB;
        --text-color: aliceblue;
        --button-hover: rgb(213, 89, 0);
}

a {text-decoration : none; color : var(--primary-color);}

body{
    background-color:  var(--bg-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}
button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 0.6rem;
    font-size: 1rem;
    
}
button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    transition: 0.25s;
}

.dark {
    background-color: var(--secondary-bg-color);
}
.light {
    background-color: var(--tertiary-bg-color);
}
#days {
    display: flex;
}
#classes {
    display: flex;
}
.day {
    padding: 1rem;
    font-weight: 600;
    width: 20%;
}
.class {
    height: 250px;
    width: 20%;
}
#days > :first-child {
    border-radius: 20px 0 0 0;
}
#days > :last-child {
    border-radius: 0 20px 0 0 ;
}
#classes > :first-child {
    border-radius: 0 0 0 20px;
}
#classes > :last-child {
    border-radius: 0 0 20px 0;
}
.contentWrapper {
    width: 85%;
    margin-top: 2rem;
}
#timetable {
    margin: 2rem 0 3rem 0;
}






/*
 Studie css
*/
.eksemple {
    width : 800px; 
    background: #d9d9d9;
    margin : 40px auto; 
}

.subject {
    width : 800px; 
    background: #211717;
    margin : 40px auto; 
}
  .span1 {
    padding : 30px;
    background : #2d2f31; 
    color : white;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    display: block;
  }
  
  .span1::after {
    float: right;
    right: 10%;
    content: "+";
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }
  
  .slide li {padding : 30px;}
  
  #touch {position: absolute; opacity: 0; height: 0px;}    
  
  #touch:checked + .slide {height: 300px;} 




    /* Style for notification boxes */
    .notification-box {
      border: 1px solid #858a91;
      margin: 10px;
      padding: 10px;
      background-color: #3D3D3D;
      border-radius: 20px;
      width: 50%;
  }
  .notification-box p {
      margin-top: 1rem;
  }
  .notification-head{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .notification-head h2{
      margin-left: 1rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 35px;
  }

  .notification-head img{
    margin-left: -3rem;
    margin-top: 2rem;
    width: 6%;
  }

  /* Style for the "Læs mere" button */
  .read-more-button,
  #add-notification{
      background-color: #FF8E3D;
      color: #fff;
      border: none;
      padding: 5px 15px;
      cursor: pointer;
      border-radius: 40px;
      margin-top: 1rem;
      font-size: 15px;
  }
  .see-all-button{
    background-color: #FF8E3D;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 40px;

    font-size: 15px;
    position: relative;
  top: 20px;
  }
  .removeIcon{
      width: 3%;
      float: right;
      margin-top: 0.5rem;
      margin-right: 0.5rem;

  }

    /* Style for profile page */

  .profile-container{
    background-color: #3D3D3D;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 20px;
    padding: 20px;
}
.edit-button{
    float: right;
    width: 4%;
    margin-right: 1rem;
    margin-top: 2rem;
}
.profile-image{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 15%;
}
.profile-info-img{
    display: flex;
    align-items: center;
}
.profile-info-img h2{
    margin-left: 2rem;
     margin-top: 2rem;
     color: white;
}
.profile-info{
    margin-top: 2rem;
    margin-right: 1;
    margin-left: 3rem;
    color: white;
}
.profile-info p{
    padding: 10px;
}

   /* CSS for the popup box */
   .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    margin: 0 auto;
    height: 630px;
}
.popup-box h3{
    margin-top: 0.5rem;
}
#latest-notifications{
    width: 190%;
    max-height: 500px; /* Adjust the max height as needed */
    overflow-y: scroll;
}
#close-popup-button{
    width: 10%;
    float: right;
}
#view-notifications-button{
    width: 2%;
}
/* Style for assignments*/
#assignmentWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
}
.assignment, .archiveAssignment {
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 15px;
    
}
.assignment {
    width: 30%;
}
.assignmentDescription {
    margin: 1rem 0 1rem 0;
}
.dueDate {
    margin-bottom: 1rem;
}
#openForm {
    background-color: var(--highlight-color);
    margin: 1rem 0 2rem 0;
}
#openForm:hover {
    background-color: #005bc4;
}
.archiveAssignment{
    margin-bottom: 1rem;
}
.archiveAssignment > p, .archiveAssignment > h3 {
    color: var(--tertiary-bg-color);
}
.archiveAssignment:first-child {
    margin-top: 1rem;
}
#prevA {
    margin: 1rem 0 1rem 0;
}